
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: aqua;
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.graphics {
  width: 65%;
  height: 90%;
  margin: auto;
  background: red;
}

.draggable {
  cursor: move;
}

.info {
  width: 30%;
  height: 90%;
  margin: auto;
  background: black;
  color: white;
}

.info h2 {
  text-align: center;
}